#content-div-1 > p {
    color: red;
    /*width: 150%;*/
    /*overflow:hidden;*/
}

#content-div-2 > p {
    color: green;
}

#content-div-3 > p {
    color: dodgerblue;
}

.myBtn{
    width: 100px;
    transition: all 6s ease-out;
    background: blue;
}

.myBtn:hover{
    visibility: hidden !important;
    background-color: green;
    width: 300px;
}